body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 60px;
  max-width: 600px;
}

h1 {
  font-size: 1.5em;
}

.green {
  color: #484;
}

.red {
  color: #844;
}

.orange {
  color: #e67e22;
}

.checking {
  color: #888;
  font-style: italic;
}

.container {
  padding: 10px;
  border-radius: 4px;
  margin: 10px 0;
}
